/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}
main {
    display: flex;
    flex-direction: column;
}

/*============ Banner ===========*/
.container {
    margin-bottom: 70px;
}
.banners {
    display: flex;
    justify-content: space-evenly;
    color: #FFFFFF;
    background-color: blue;
    padding-top: 200px;
}
.img img {
    width: 556.01px;
    height: 438px;
    padding-bottom: 80px;
}
.banner h1 {
    word-spacing: 5px;
}
.button {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 25px;
    padding: 5px 20px;
    background: #c44171;
    transition: all linear 1s;
}
.button:hover {
    color: whitesmoke;
    background-color: tomato;
}

/*================== Gallary ==============*/
.gallary-parents {
    margin: 0 auto;
}
.gallary-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.gallary {
    width: 300px;
    background-color: whitesmoke;
    padding: 15px;
}
.gallary-detail img {
    width: 100%;
    font-weight: bold;
    font-size: 28px;
    
}
/*================================ Heighlite Area ========================== */
.highlite-area {
    margin-top: 100px;
}
.highlites {
    margin: 0 auto;
    width: 567px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.highlites .highlite-photo img {
    width: 100%;
    padding-left: 66px;
}

/*================================ Best coacher ========================== */
.coach-section {
    margin-bottom: 90px;
}
.coach-headline {
    text-align: center;
    margin: 60px 0px 0px 80px;
    padding-left: 120px;
}
.coacher {
    width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
    justify-content: space-between;
}
.single-coach {
    text-align: center;
    font-size: 10px;
    border: 1px solid rgb(7, 154, 212);
    box-shadow: 5px 5px 5px;
    border-radius: 10px;
    padding: 5px;
}
.single-coach img {
    width: 200px;
    border-radius: 10px;
}
span {
    color: teal;
}
/*================================ Footer ========================== */
.footer-items {
    text-align: center;
    padding: 40px 0;
    line-height: 20px;
}
.footer-items img {
    width: 40%;
    margin-bottom: 20px;
}
.p {
    font-size: 18px;
}
.footer-icon {
    margin: 0 30px;
    word-spacing: 14px;
    font-size: 20px;
}
.footer-icon a:hover {
    color: rgb(28, 209, 209);
    border-radius: 10px;
    transition: all linear 1s; 
}

/* media quarey for Mobile phone device */
@media only screen and (max-width: 688px) {
    /*===== header section =====*/
    .banners {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .banner{
        padding-left: 100px;
        margin-bottom: 20px;
        margin-left: 10px;
    }
    /*========== Gallary ===========*/
    .gallary-area {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    /*=========== Heighlite  =========*/
    .highlites {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .highlite-photo{
        width: 50%;
        margin-top: 20px;
    }
    /*=========== Coach setion   =========*/
    .coacher{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 50px;
    }
     /*=========== Footer  =========*/
    .footer-items {
        margin-left: 80px;
    }
}